<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
      name="bp"
      address="net.tcp://localhost:8081/math"
      binding="customBinding"
      bindingConfiguration="customTCP"
      contract="MathTypes.IMath" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="secureTCP">
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="customTCP">
          <textMessageEncoding />
          <tcpTransport />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>