<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IMath">
                    <textMessageEncoding />
                    <tcpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/math" binding="customBinding"
                bindingConfiguration="CustomBinding_IMath" contract="MathTypes.IMath"
                name="CustomBinding_IMath" />
        </client>
    </system.serviceModel>
</configuration>